<!-- Modal -->
<div class="modal fade" id="staticBackdrop_Ticket" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content container">
        <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel" ></h5>
        <button type="button" class="btn-close btn btn-outline-warning" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae quaerat id sequi ducimus blanditiis possimus dolore animi, aliquam autem aliquid laudantium necessitatibus, quidem, accusamus officia nemo reprehenderit enim omnis perspiciatis.
            
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning Continuer">Continuer</button>
        </div>
    </div>
    </div>
</div>
