
{% load static %}
{% include 'reservations/modal_detail.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="" href="{% static 'CssStyle/style_home.css' %}">
    <script src="{% static 'jsStyle/style_home.js' %}" async></script>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<style>
    .card-body{
        margin-bottom: 20px;
        margin-top: 20px;

        box-shadow: 0 0 5px 1px rgba(0, 0 , 0, 0.5);
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {
        $('#staticBackdrop').on('show.bs.modal', function (event) {
            var link = $(event.relatedTarget); // Button that triggered the modal
            var ids = link.data('id').split('-');
            var trajetId = ids[0];
            var segmentId = ids[1];
            var horaireId = ids[2];

            // var trajetId = link.data('id'); // Extract info from data-* attributes
            var modal = $(this);
            console.log(trajetId)

            $.ajax({
                // url: '/TravelTickets_Detail_trajet/' + trajetId + '/' + segmentId + '/',
                url: '/TravelTickets_Detail_trajet/' + (trajetId ? trajetId : '0') + '/' + (segmentId ? segmentId : '0') + '/' + (horaireId ? horaireId : '0') + '/', // URL de la vue Django avec les ID du trajet et du segment

                method: 'GET',
                success: function(data) {
                    var trajet = data.trajet; // Récupère les détails du trajet depuis la réponse JSON
                    var avantages = trajet.avantages; // Liste des avantages
                    var avantagesHtml = '<ul>';

                // Utilisation d'une boucle `for` pour itérer sur les avantages
                    for (var i = 0; i < avantages.length; i++) {
                        avantagesHtml += '<li> <u>' + avantages[i].nom + '</u>: ' + avantages[i].description + '</li>';
                        console.log(avantages[i].nom)
                    }
                    avantagesHtml += '</ul>';
                    modal.find('#staticBackdropLabel').html(`<p>${trajet.heure_depart}H&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> ${trajet.depart}---------- --${trajet.arrivee} </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ${trajet.heure_arrivee}H</p>  `); // You can set a dynamic title here
                    modal.find('.modal-body').html(`
                        <p><strong>Adress Départ :</strong> ${trajet.depart}</p>
                        <p><strong>adresse Arrivée :</strong> ${trajet.arrivee}</p>
                        <p><strong>Segment ID :</strong> ${trajet.id}</p>
                        <p><strong>Type de Car :</strong> ${trajet.type}</p>
                        <p><strong>Immatriculation du Car :</strong> ${trajet.car}</p>
                        <p><strong>Prix :</strong> ${trajet.prix}</p>
                        <p><strong>Avantages lie au a cet type de voyage  :</strong></p>

                        ${avantagesHtml}
                        <p><strong>Information :</strong></p> 
                    





                    `);
                    modal.find('.Continuer').html(`
                        <a  href="/TravelTickets_Reservation/${trajet.id}/${trajet.id_segment}/${trajet.id_horaire}/"> Continuer </a>
                    

                    `);
                },
                error: function() {
                    alert('Impossible de charger les détails du segment.');
                }
            });
        });
    });
</script>



<body>
    <!-- <li class="list-group-item"> {{ trajet.adress_depart }} - {{ segment.arrivee }} -  {{ trajet.id }}   -- Prix: 343433434  FCFA   {{ trajet.car.type }}  --  {{ trajet.id }} </li>  -->

    <div class="container">
        <h1>Rechercher un Trajet</h1>
        <div class="container">
          <h1 class="mt-5">Rechercher un trajet</h1>
          <form method="post" class="mt-3">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Rechercher</button>
          </form>
      </div>
    </div>


    <div class="container">
        <h1>Trajet Disponible </h1>
        
        {% if segments_disponibles %}
  
            {% for trajet, segment, horairesegments, trajetsegment , segmentsegmenthoraire ,segmentsegmenthoraires in segments_disponibles %}

                {% for horaire in horairesegments %}

                    <div class="card-body">
                        <ul class="list-group">
                    
                            
                            <a href="{% url 'detail_trajet' trajet.id segment.id horaire.id %}"  class="btn "  data-id="{{ trajet.id }}-{{ segment.id }}-{{ horaire.id }}" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <li class="list-group-item"> Depart de:{{ horaire.heure_depart|time:"H\hi" }} ---Trajet_id: {{ trajet.id }}  </li>
                                <li class="list-group-item"> {{ segment.depart }} - {{ segment.arrivee }}    -- Prix: {{ trajetsegment.prix_segment }} FCFA   Offre:{{ trajet.car.type }}  --  {{ place_disponible.id }} -- Place_disponible :{{ segmentsegmenthoraire.place_disponible }}</li>
                            </a>
                            <a  href="{% url 'reservation_trajet' trajet.id segment.id segmentsegmenthoraire.id %}" class="btn btn-outline-warning">Continuer</a>

                    
                    
                        </ul>
                    </div>
                {% endfor %}

        {% endfor %}

        {% else %}
            <p>Aucun trajet trouvé pour ces critères.</p>
        {% endif %}
    </div>
    <!-- Modal -->




 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>